@page "/admin/UrlNamePlaceholder"
@page "/admin/UrlNamePlaceholder/{Page:int}"
@rendermode InteractiveServer
@inject IEntityNamePlaceholderFilters Filters
@inject IDbContextFactory<ApplicationDbContext> DbFactory
@inject NavigationManager Navigation
@inject EntityNamePlaceholderGridQueryAdapter QueryAdapter

<PageTitle>HumanNamePlaceholder Home</PageTitle>

<h1>HumanNamePlaceholder Home</h1>
<h6><a href="/admin/UrlNamePlaceholder/add">Create New</a></h6>

<GridWrapper @ref="Wrapper"
             FilterChanged="ReloadAsync"
             DeleteRequested="id => Wrapper.DeleteRequestId = id">
    <div class="container-fluid TableNamePlaceholder-grid">
        <div class="row">
            <div class="col-8"><TextFilter /></div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-6">
                Page @Filters.PageHelper.Page of @Filters.PageHelper.PageCount:
                showing @Filters.PageHelper.PageItems of
                @Filters.PageHelper.TotalItemCount items.
                <a disabled="@(Filters.Loading || !Filters.PageHelper.HasPrev)"
                   class="btn btn-primary @IsDisabled(Filters.PageHelper.HasPrev)"
                   href="@Filters.PageHelper.PrevPage">
                    Previous
                </a>
                <a disabled="@(Filters.Loading || !Filters.PageHelper.HasNext)"
                   class="btn btn-primary @IsDisabled(Filters.PageHelper.HasNext)"
                   href="@Filters.PageHelper.NextPage">
                    Next
                </a>
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row LowercaseNamePlaceholder-header">
            <div class="col-2">&nbsp;</div>
            <div class="col-3"
                @onclick="@(async ()=>await ToggleAsync(EntityNamePlaceholderFilterColumns.Id))">
                <SortIndicator Column="@(EntityNamePlaceholderFilterColumns.Id)" />&nbsp;Id
            </div>

            @* SortIndicatorCodePlaceholder *@

        </div>
        @if (Filters.Loading || EntityNamePlaceholders is null)
        {
            <div class="row">
                <div class="col-12 alert alert-info">
                    Loading...
                </div>
            </div>
        }
        @if (EntityNamePlaceholders is not null && EntityNamePlaceholders.Count == 0)
        {
            <div class="row">
                <div class="col-12 alert alert-warning">
                    No HumanNamePlaceholder found.
                </div>
            </div>
        }
        @if (EntityNamePlaceholders is not null)
        {
            @foreach (var LowercaseNamePlaceholder in EntityNamePlaceholders)
            {
                <EntityNamePlaceholderRow @key=LowercaseNamePlaceholder CurrentEntityNamePlaceholder="LowercaseNamePlaceholder"
                            DeleteEntityNamePlaceholder="DeleteEntityNamePlaceholderAsync" />
            }
        }
    </div>
</GridWrapper>

@code {
    [Parameter]
    public int Page
    {
        get => Filters.PageHelper.Page;
        set
        {
            Filters.PageHelper.Page = value;
        }
    }

    private GridWrapper Wrapper { get; set; } = new GridWrapper();

    private ICollection<EntityNamePlaceholder>? EntityNamePlaceholders { get; set; }

    private string IsDisabled(bool condition) =>
        !Filters.Loading && condition ? "" : "disabled";

    private int _lastPage = -1;

    protected override void OnAfterRender(bool firstRender)
    {
        if (_lastPage < 1)
        {
            Navigation.NavigateTo("/admin/UrlNamePlaceholder/1");
            return;
        }

        if (Filters.PageHelper.PageCount > 0)
        {
            if (Page < 1)
            {
                Navigation.NavigateTo("/admin/UrlNamePlaceholder/1");
                return;
            }
            if (Page > Filters.PageHelper.PageCount)
            {
                Navigation.NavigateTo($"/admin/UrlNamePlaceholder/{Filters.PageHelper.PageCount}");
                return;
            }
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        if (Page != _lastPage)
        {
            _lastPage = Page;
            await ReloadAsync();
        }
    }

    private Task ToggleAsync(EntityNamePlaceholderFilterColumns col)
    {
        if (Filters.SortColumn == col)
        {
            Filters.SortAscending = !Filters.SortAscending;
        }
        else
        {
            Filters.SortColumn = col;
        }
        return ReloadAsync();
    }

    private async Task DeleteEntityNamePlaceholderAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Filters.Loading = true;

        if (Wrapper is not null && context.TableNamePlaceholder is not null)
        {
            var LowercaseNamePlaceholder = await context.TableNamePlaceholder
                .FirstAsync(x => x.Id == Wrapper.DeleteRequestId);

            if (LowercaseNamePlaceholder is not null)
            {
                context.TableNamePlaceholder?.Remove(LowercaseNamePlaceholder);
                await context.SaveChangesAsync();
            }
        }

        Filters.Loading = false;

        await ReloadAsync();
    }

    private async Task ReloadAsync()
    {
        if (Filters.Loading || Page < 1)
        {
            return;
        }

        Filters.Loading = true;

        if (Wrapper is not null)
        {
            Wrapper.DeleteRequestId = Guid.Empty;
        }

        EntityNamePlaceholders = new List<EntityNamePlaceholder>();

        using var context = DbFactory.CreateDbContext();
        var query = context.TableNamePlaceholder?.AsQueryable();

        if (query is not null)
        {
            EntityNamePlaceholders = await QueryAdapter.FetchAsync(query);
        }

        Filters.Loading = false;
    }
}

