@page "/admin/application-user"
@page "/admin/application-user/{Page:int}"
@rendermode InteractiveServer
@inject IApplicationUserFilters Filters
@inject IDbContextFactory<ApplicationDbContext> DbFactory
@inject NavigationManager Navigation
@inject ApplicationUserGridQueryAdapter QueryAdapter

<PageTitle>Application User Home</PageTitle>

<h1>Application User Home</h1>
<h6><a href="/admin/application-user/add">Create New</a></h6>

<GridWrapper @ref="Wrapper"
             FilterChanged="ReloadAsync"
             DeleteRequested="id => Wrapper.DeleteRequestId = id">
    <div class="container-fluid applicationUsers-grid">
        <div class="row">
            <div class="col-8"><TextFilter /></div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-6">
                Page @Filters.PageHelper.Page of @Filters.PageHelper.PageCount:
                showing @Filters.PageHelper.PageItems of
                @Filters.PageHelper.TotalItemCount items.
                <a disabled="@(Filters.Loading || !Filters.PageHelper.HasPrev)"
                   class="btn btn-primary @IsDisabled(Filters.PageHelper.HasPrev)"
                   href="@Filters.PageHelper.PrevPage">
                    Previous
                </a>
                <a disabled="@(Filters.Loading || !Filters.PageHelper.HasNext)"
                   class="btn btn-primary @IsDisabled(Filters.PageHelper.HasNext)"
                   href="@Filters.PageHelper.NextPage">
                    Next
                </a>
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row applicationUser-header">
            <div class="col-2">&nbsp;</div>
            <div class="col-3"
                @onclick="@(async ()=>await ToggleAsync(ApplicationUserFilterColumns.Id))">
                <SortIndicator Column="@(ApplicationUserFilterColumns.Id)" />&nbsp;Id
            </div>
            <div class="col-3"
                @onclick="@(async ()=>await ToggleAsync(ApplicationUserFilterColumns.Email))">
                <SortIndicator Column="@(ApplicationUserFilterColumns.Email)" />&nbsp;Email
            </div>
            <div class="col-3"
                @onclick="@(async ()=>await ToggleAsync(ApplicationUserFilterColumns.PhoneNumber))">
                <SortIndicator Column="@(ApplicationUserFilterColumns.PhoneNumber)" />&nbsp;Phone Number
            </div>
            <div class="col-3"
                @onclick="@(async ()=>await ToggleAsync(ApplicationUserFilterColumns.UserName))">
                <SortIndicator Column="@(ApplicationUserFilterColumns.UserName)" />&nbsp;UserName
            </div>
        </div>
        @if (Filters.Loading || ApplicationUsers is null)
        {
            <div class="row">
                <div class="col-12 alert alert-info">
                    Loading...
                </div>
            </div>
        }
        @if (ApplicationUsers is not null && ApplicationUsers.Count == 0)
        {
            <div class="row">
                <div class="col-12 alert alert-warning">
                    No Application Users found.
                </div>
            </div>
        }
        @if (ApplicationUsers is not null)
        {
            @foreach (var applicationUser in ApplicationUsers)
            {
                <ApplicationUserRow @key=applicationUser CurrentApplicationUser="applicationUser"
                            DeleteApplicationUser="DeleteApplicationUserAsync" />
            }
        }
    </div>
</GridWrapper>

@code {
    [Parameter]
    public int Page
    {
        get => Filters.PageHelper.Page;
        set
        {
            Filters.PageHelper.Page = value;
        }
    }

    private GridWrapper Wrapper { get; set; } = new GridWrapper();

    private ICollection<ApplicationUser>? ApplicationUsers { get; set; }

    private string IsDisabled(bool condition) =>
        !Filters.Loading && condition ? "" : "disabled";

    private int _lastPage = -1;

    protected override void OnAfterRender(bool firstRender)
    {
        if (_lastPage < 1)
        {
            Navigation.NavigateTo("/admin/application-user/1");
            return;
        }

        if (Filters.PageHelper.PageCount > 0)
        {
            if (Page < 1)
            {
                Navigation.NavigateTo("/admin/application-user/1");
                return;
            }
            if (Page > Filters.PageHelper.PageCount)
            {
                Navigation.NavigateTo($"/admin/application-user/{Filters.PageHelper.PageCount}");
                return;
            }
        }
    }

    protected override async Task OnParametersSetAsync()
    {
        if (Page != _lastPage)
        {
            _lastPage = Page;
            await ReloadAsync();
        }
    }

    private Task ToggleAsync(ApplicationUserFilterColumns col)
    {
        if (Filters.SortColumn == col)
        {
            Filters.SortAscending = !Filters.SortAscending;
        }
        else
        {
            Filters.SortColumn = col;
        }
        return ReloadAsync();
    }

    private async Task DeleteApplicationUserAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Filters.Loading = true;

        if (Wrapper is not null && context.Users is not null)
        {
            var applicationUser = await context.Users
                .FirstAsync(x => x.Id == Wrapper.DeleteRequestId);

            if (applicationUser is not null)
            {
                context.Users?.Remove(applicationUser);
                await context.SaveChangesAsync();
            }
        }

        Filters.Loading = false;

        await ReloadAsync();
    }

    private async Task ReloadAsync()
    {
        if (Filters.Loading || Page < 1)
        {
            return;
        }

        Filters.Loading = true;

        if (Wrapper is not null)
        {
            Wrapper.DeleteRequestId = Guid.Empty;
        }

        ApplicationUsers = new List<ApplicationUser>();

        using var context = DbFactory.CreateDbContext();
        var query = context.Users?.AsQueryable();

        if (query is not null)
        {
            ApplicationUsers = await QueryAdapter.FetchAsync(query);
        }

        Filters.Loading = false;
    }
}

