@page "/admin/application-user-edit"
@page "/admin/application-user-edit/{id}"
@inject IApplicationRoleService ApplicationRoleService
@inject IApplicationUserService ApplicationUserService
@inject AuthenticationStateProvider GetAuthenticationStateAsync
@inject NavigationManager NavigationManager
@rendermode InteractiveAuto

<section>
    @if (Id == null)
    {
        <h1>Create Application User</h1>
    }
    else
    {
        <h1>Edit: @adminApplicationUserEditDataTransferObject.UserName</h1>
    }
    <article>
        <EditForm class="container" Model="adminApplicationUserEditDataTransferObject" OnSubmit="HandleSubmit">
            <div class="row">
                <div class="col">
                    <label>
                        Application Roles:
                        @if (applicationRoles != null)
                        {
                            <select>
                                @foreach (var applicationRole in applicationRoles)
                                {
                                    <option>@applicationRole.Name</option>
                                }
                            </select>
                        }
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label>
                        Email:
                        <InputText @bind-Value="adminApplicationUserEditDataTransferObject.Email">@adminApplicationUserEditDataTransferObject.Email</InputText>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label>
                        Phone Number:
                        <InputText @bind-Value="adminApplicationUserEditDataTransferObject.PhoneNumber">@adminApplicationUserEditDataTransferObject.PhoneNumber</InputText>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label>
                        UserName:
                        <InputText @bind-Value="adminApplicationUserEditDataTransferObject.UserName">@adminApplicationUserEditDataTransferObject.UserName</InputText>
                    </label>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    @if (Id != null)
                    {
                        <button @onclick="Delete" type="button" class="btn btn-danger">Delete</button>
                    }
                </div>
                <div class="col">
                    <a href="/admin/application-user-list">Cancel</a>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </EditForm>
    </article>
</section>

@code {
    [Parameter]
    public string? Id { get; set; }
    AdminApplicationUserEditDataTransferObject adminApplicationUserEditDataTransferObject { get; set; } = new AdminApplicationUserEditDataTransferObject();
    List<ApplicationRole>? applicationRoles { get; set; }

    protected override async Task OnInitializedAsync()
    {
        applicationRoles = await ApplicationRoleService.GetAllAsync();
    }

    protected override async Task OnParametersSetAsync()
    {
        if (Id == null)
        {
            return;
        }

        var result = await ApplicationUserService.GetByIdAsync(Id);

        if (result == null)
        {
            adminApplicationUserEditDataTransferObject = new AdminApplicationUserEditDataTransferObject();
        }
        else
        {
            adminApplicationUserEditDataTransferObject = result;
        }
    }

    async Task HandleSubmit()
    {
        var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        var userName = authState.User.Identity?.Name;

        if (userName == null)
        {
            return;
        }

        if (adminApplicationUserEditDataTransferObject == null)
        {
            return;
        }

        if (Id == null)
        {
            var dbApplicationUser = await ApplicationUserService.AddAsync(userName, adminApplicationUserEditDataTransferObject);

            if (dbApplicationUser == null)
            {
                return;
            }

            NavigationManager.NavigateTo($"/admin/application-user-edit/{dbApplicationUser.Id}");
        }
        else
        {
            await ApplicationUserService.EditAsync(userName, (string)Id, adminApplicationUserEditDataTransferObject);
        }
    }

    async Task Delete()
    {
        if (Id == null)
        {
            return;
        }

        var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        var userName = authState.User.Identity?.Name;

        if (userName == null)
        {
            return;
        }

        await ApplicationUserService.DeleteAsync(userName, Id);
        NavigationManager.NavigateTo($"/admin/application-user-list");
    }
}
