@page "/admin/to-do-item-edit"
@page "/admin/to-do-item-edit/{id:guid}"
@rendermode InteractiveAuto
@inject AuthenticationStateProvider GetAuthenticationStateAsync
@inject NavigationManager NavigationManager
@inject IToDoItemAdminService ToDoItemAdminService

@inject IToDoListAdminService ToDoListAdminService
@* InjectionCodePlaceholder *@
@* @inject IToDoListAdminService ToDoListAdminService *@

  @if (Id.Equals(Guid.Empty))
  {
    <PageTitle>To Do Item Creation</PageTitle>
  }
  else
  {
    <PageTitle>To Do Item Modification</PageTitle>
  }

<section>
  @if (Id.Equals(Guid.Empty))
  {
    <h1>To Do Item Creation</h1>
  }
  else
  {
    <h1>To Do Item Modification</h1>
  }
  <article>
    <EditForm class="container" Model="toDoItemAdminEditModel" OnSubmit="HandleSubmit">

      <div class="row">
        <div class="col">
          <label>
            To Do List:
            <select @onchange="ToDoListOnChange">
              <option>Select to do list...</option>
                @if (toDoListList != null)
                {
                  @foreach (var toDoList in toDoListList)
                  {
                    if (toDoItemAdminEditModel.ToDoList != null && toDoItemAdminEditModel.ToDoList.Id.Equals(toDoList.Id))
                    {
                      <option value="@toDoList.Id" selected>@toDoList.Title</option>
                    }
                    else
                    {
                      <option value="@toDoList.Id">@toDoList.Title</option>
                    }
                  }
                }
              </select>
          </label>
        </div>
      </div>
      @* EditRowCodePlaceholder *@
      @* <div class="row">
                <div class="col">
                    <label>
                        To Do List:
                        <select @onchange="ToDoListOnChange">
                            <option>Select to Do List...</option>
                            @if (toDoListList != null)
                            {
                                @foreach (var toDoList in toDoListList)
                                {
                                    if (toDoItemAdminEditModel.ToDoList != null && toDoItemAdminEditModel.ToDoList.Id.Equals(toDoList.Id))
                                    {
                                        <option value="@toDoList.Id" selected>@toDoList.Title</option>
                                    }
                                    else
                                    {
                                        <option value="@toDoList.Id">@toDoList.Title</option>
                                    }
                                }
                            }
                        </select>
                    </label>
                </div>
            </div>
            <div class="row">
              <div class="col">
                <label>
                    Name:
                    <InputText @bind-Value="toDoItemAdminEditModel.Name" data-testid="toDoItemAdminEditName" />
                </label>
              </div>
            </div> *@

            <div class="row">
                <div class="col">
                    @if (!Id.Equals(Guid.Empty))
                    {
                        <button @onclick="Remove" type="button" class="btn btn-danger">Remove</button>
                    }
                </div>
                <div class="col">
                    <a href="/admin/to-do-item-list">Cancel</a>
                    @if (Id.Equals(Guid.Empty))
                    {
                        <button type="submit" class="btn btn-primary">Create</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-primary">Modify</button>
                    }
               </div>
            </div>
        </EditForm>
    </article>
</section>

@code {
    [Parameter]
    public Guid Id { get; set; }
    ToDoItemAdminEditModel toDoItemAdminEditModel { get; set; } = new ToDoItemAdminEditModel();

    List<ToDoList> toDoListList { get; set; } = [];
    @* ListDeclarationCodePlaceholder *@
    @* List<ToDoList>? toDoListList { get; set; } *@

    protected override async Task OnInitializedAsync()
    {
        var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        var userName = authState.User.Identity?.Name;

        if (userName == null)
        {
            return;
        }

        await base.OnInitializedAsync();

        @* OnInitializedCodePlaceholder *@
        @* var toDoListListResult = await ToDoListAdminService.GetAllAsync(userName);
        if (toDoListListResult != null)
        {
            toDoListList = toDoListListResult;
        } *@
    }

    protected override async Task OnParametersSetAsync()
    {
        var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        var userName = authState.User.Identity?.Name;

        if (userName == null)
        {
            return;
        }

        if (Id.Equals(Guid.Empty))
        {
            return;
        }

        var databaseToDoItemAdminDto = await ToDoItemAdminService.GetByIdAsync(userName, Id);

        if (databaseToDoItemAdminDto == null)
        {
            toDoItemAdminEditModel = new ToDoItemAdminEditModel();
        }
        else
        {
            toDoItemAdminEditModel = ToDoItemAdminEditModel.FromToDoItemAdminDto(databaseToDoItemAdminDto);
        }
    }

    async Task HandleSubmit()
    {
        var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        var userName = authState.User.Identity?.Name;

        if (userName == null)
        {
            return;
        }

        @* if (string.IsNullOrWhiteSpace(toDoItemAdminEditModel.Name))
        {
            return;
        } *@

        var toDoItemAdminDto = ToDoItemAdminEditModel.ToToDoItemAdminDto(toDoItemAdminEditModel);
        toDoItemAdminDto.ApplicationUserName = userName;

        if (Id.Equals(Guid.Empty))
        {
            var newToDoItemAdminDto = await ToDoItemAdminService.AddAsync(toDoItemAdminDto);

            if (newToDoItemAdminDto == null)
            {
                return;
            }

            NavigationManager.NavigateTo($"/admin/to-do-item-edit/{newToDoItemAdminDto.Id}");
        }
        else
        {
            await ToDoItemAdminService.EditAsync(toDoItemAdminDto);
        }
    }

    async Task Remove()
    {
        var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        var userName = authState.User.Identity?.Name!;

        if (userName == null)
        {
            return;
        }

        if (Id.Equals(Guid.Empty))
        {
            return;
        }

        await ToDoItemAdminService.DeleteAsync(userName, Id);
        NavigationManager.NavigateTo($"/admin/to-do-item-list");
    }


    @* OnChangeCodePlaceholder *@
    @* void ToDoListOnChange(ChangeEventArgs args)
    {
        if (args.Value == null)
        {
            return;
        }

        var id = (string)args.Value;
        toDoItemAdminEditModel.ToDoList = toDoListList?.Where(x => x.Id.ToString().Equals(id)).FirstOrDefault();
    } *@
}
