@page "/admin/application-user-list"
@inject IApplicationUserService ApplicationUserService
@attribute [StreamRendering]

<section>
    <h1>Application User List</h1>
    <article>
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">ApplicationRoles</th>
                    <th scope="col">Email</th>
                    <th scope="col">Id</th>
                    <th scope="col">PhoneNumber</th>
                    <th scope="col">UserName</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (AdminApplicationUserListItemDataTransferObjects == null)
                {
                    <tr>
                        <td colspan="6">Loading...</td>
                    </tr>
                }
                else if (AdminApplicationUserListItemDataTransferObjects.Count == 0)
                {
                    <tr>
                        <td colspan="6">No application users found.</td>
                    </tr>
                }
                else
                {
                    @foreach (var AdminApplicationUserListItemDataTransferObject in AdminApplicationUserListItemDataTransferObjects)
                    {
                        <tr>
                            @if (AdminApplicationUserListItemDataTransferObject == null)
                            {
                                <td colspan="6">Application user is null.</td>
                            }
                            else
                            {
                                <td>
                                    @if (AdminApplicationUserListItemDataTransferObject.ApplicationRoles != null)
                                    {
                                        @foreach (var applicationRole in AdminApplicationUserListItemDataTransferObject.ApplicationRoles)
                                        {

                                        }
                                    }
                                </td>
                                <td>@AdminApplicationUserListItemDataTransferObject.Email</td>
                                <td>@AdminApplicationUserListItemDataTransferObject.Id</td>
                                <td>@AdminApplicationUserListItemDataTransferObject.PhoneNumber</td>
                                <td>@AdminApplicationUserListItemDataTransferObject.UserName</td>
                                <td>
                                    <NavButton Href="@("/admin/application-user-edit/" + AdminApplicationUserListItemDataTransferObject.Id)" Name="Edit" />
                                </td>
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>
        <NavButton Href="/admin/application-user-edit" Name="Create" />
    </article>
</section>

@code {
    List<AdminApplicationUserListItemDataTransferObject>? AdminApplicationUserListItemDataTransferObjects = null;

    protected override async Task OnInitializedAsync()
    {
        AdminApplicationUserListItemDataTransferObjects = await ApplicationUserService.GetAllAsync();
    }
}
