@page "/admin/application-user-list"
@rendermode InteractiveServer
@inject IApplicationUserAdminService ApplicationUserAdminService
@inject AuthenticationStateProvider GetAuthenticationStateAsync
@attribute [StreamRendering]

<section>
    <h1>Application User List</h1>
    <article>
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col">ApplicationRoles</th>
                    <th scope="col">Email</th>
                    <th scope="col">Id</th>
                    <th scope="col">PhoneNumber</th>
                    <th scope="col">UserName</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @if (applicationUserAdminDtos == null)
                {
                    <tr>
                        <td colspan="6">Loading...</td>
                    </tr>
                }
                else if (applicationUserAdminDtos.Count == 0)
                {
                    <tr>
                        <td colspan="6">No application users found.</td>
                    </tr>
                }
                else
                {
                    @foreach (var applicationUserAdminDto in applicationUserAdminDtos)
                    {
                        <tr>
                            @if (applicationUserAdminDto == null)
                            {
                                <td colspan="6">Application user is null.</td>
                            }
                            else
                            {
                                <td>
                                    @if (applicationUserAdminDto.ApplicationRoles != null)
                                    {
                                        @for (var i = 0; i < applicationUserAdminDto.ApplicationRoles.Count; i += 1)
                                        {
                                            if (i > 0)
                                            {
                                                <span>, </span>
                                            }
                                            <span>@applicationUserAdminDto.ApplicationRoles.ToList()[i].Name</span>
                                        }
                                    }
                                </td>
                                <td>@applicationUserAdminDto.Email</td>
                                <td>@applicationUserAdminDto.Id</td>
                                <td>@applicationUserAdminDto.PhoneNumber</td>
                                <td>@applicationUserAdminDto.UserName</td>
                                <td>
                                    <NavLink href="@("/admin/application-user-edit/" + applicationUserAdminDto.Id)">Edit</NavLink>
                                </td>
                            }
                        </tr>
                    }
                }
            </tbody>
        </table>
        <NavLink href="/admin/application-user-edit">Create</NavLink>
    </article>
</section>

@code {
    List<ApplicationUserAdminDto>? applicationUserAdminDtos;

    protected override async Task OnInitializedAsync()
    {
        var authState = await GetAuthenticationStateAsync.GetAuthenticationStateAsync();
        var userName = authState.User.Identity?.Name;

        if (userName == null)
        {
            return;
        }

        applicationUserAdminDtos = await ApplicationUserAdminService.GetAllAsync(userName);
    }
}
