@page "/admin/application-user-list"
@inject IApplicationUserService ApplicationUserService
@attribute [StreamRendering]

<h1>Application Users List</h1>

<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">UserName</th>
            <th scope="col">NormalizedUserName</th>
            <th scope="col">Email</th>
            <th scope="col">NormalizedEmail</th>
            <th scope="col">EmailConfirmed</th>
            <th scope="col">PhoneNumber</th>
            <th scope="col">PhoneNumberConfirmed</th>
            <th scope="col">TwoFactorEnabled</th>
            <th scope="col">LockoutEnd</th>
            <th scope="col">LockoutEnabled</th>
            <th scope="col">AccessFailedCount</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (applicationUsers == null)
        {
            <tr>
                <td>Loading...</td>
            </tr>
        }
        else if (applicationUsers.Count == 0)
        {
            <tr>
                <td colspan="13">No application roles found.</td>
            </tr>
        }
        else
        {
            @foreach (var applicationUser in applicationUsers)
            {
                <tr>
                    <td>@applicationUser.Id</td>
                    <td>@applicationUser.UserName</td>
                    <td>@applicationUser.NormalizedUserName</td>
                    <td>@applicationUser.Email</td>
                    <td>@applicationUser.NormalizedEmail</td>
                    <td>@applicationUser.EmailConfirmed</td>
                    <td>@applicationUser.PhoneNumber</td>
                    <td>@applicationUser.PhoneNumberConfirmed</td>
                    <td>@applicationUser.TwoFactorEnabled</td>
                    <td>@applicationUser.LockoutEnd</td>
                    <td>@applicationUser.LockoutEnabled</td>
                    <td>@applicationUser.AccessFailedCount</td>
                    <td>
                        @if (applicationUser.Id != null)
                        {
                            <NavButton Href="@("/admin/application-user-edit/" + applicationUser.Id)" Name="Edit" />
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
<NavButton Href="/admin/application-user-edit" Name="Create" />

@code {
    List<ApplicationUser>? applicationUsers = null;

    protected override async Task OnInitializedAsync()
    {
        applicationUsers = await ApplicationUserService.GetAllAsync();
    }
}
